.context_menu {
  display: flex;
  flex-direction: column;
  width: 220px;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  top: 0;
  left: 0;
  .up,
  .center,
  .down {
    display: flex;
    align-items: center;
  }
}

.isNotShow {
  display: none;
}
