.context_menu {
  display: flex;
  flex-direction: column;
  width: 220px;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  .up,
  .center,
  .down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      padding: 5px 0 5px 10px;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.icon {
  margin-right: 10px;
}

.isNotShow {
  display: none;
}
