.home {
  width: 100vm;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  justify-self: start;
  height: 60px;
}
.container {
  flex: 1;
}
.footer {
  height: 74px;
  justify-self: end;
}