.infinite_list_container {
  height: 100%;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.infinite_list_phantom {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
.infinite_list {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  padding: 10px;
  color: #555;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}
