.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec4141;
  color: #fff;
  -webkit-app-region: drag;
}

.logo {
  font-size: 28px !important;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #ec4141;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 500px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left > .title {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  padding: 5px;
}

.search_box {
  display: flex;
  -webkit-app-region: no-drag;
}

.search_icon {
  font-size: 20px;
  color: #fff;
}

.input {
  background-color: #c73e3e !important;
  border-radius: 16px !important;
  border: none !important;
  :global(.ant-input) {
    background-color: transparent !important;
    color: #fff;
  }
}

.listen_icon {
  margin-left: 20px;
  cursor: pointer;
}

.right {
  width: 420px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-app-region: no-drag;
  .user_avatar {
    margin-right: 10px;
  }
}

.system_option {
  width: 200px;
  height: 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid #fff;
  -webkit-app-region: no-drag;
}
